/*CSS reset settings here*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   }
   #wrapper{
    width: 100%;
    background-color: silver;
    margin: 0px auto;
    display: inline-block;
    margin: 1em;
   }
   #header{
    min-height: 150px;
    background-color: green;
   }
   #navigation{
    min-height: 300px;
    width: 20%;
    background-color: blue;
    display: inline-block;
   }
   #main_content{
    min-height: 400px;
    width: 77%;
    background-color: red;
    vertical-align: top;
    display: inline-block;
   }
   .subcontents{
    min-height: 200px;
    width: 32%;
    background-color: yellow;
    display: inline-block;
    margin-right:2px;

   }
   #advertisement{
    min-height: 100px;
    width: 97%;
    background-color: purple;
    display: inline-block;
   }
   